/* CSS HEX 
--black-chocolate: #131200ff;
--mantis: #78bc61ff;
--dark-khaki: #c0c781ff;
--camel: #c59b76ff;
--salmon: #e9806eff;
*/

body{
    background-color: #023020;
    padding: 50px 0px 0px 0px;
    z-index: 0;
}

.row-header {
    margin: 0px auto;
    padding: opx auto;
}


#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

.container{
    padding: 15px;
    background-color: #c0c781ff;
    
}

#albumImage{
    width: 300px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:3em;
}

#albumTitle{
    font-size:2.5em;
}

#trackArtist{
    font-size:2em;
}

table, th, td {
    
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
  }

.navbar-dark {
    background-color: #D4FA9B;
}

*, *::after, *::before {
    box-sizing: border-box;
}

#albumnTable table{
    width: 100%;
    border-right: none;
}

#albumTableInfo td{
    border: none;
}

#albumTableInfo{
    border: none;
}

#albumTableTitle{
    font-size: 2em;
}
#albumTableArtist{
    font-size: 1.5em;
}

#albumnDetails{
    vertical-align: top;
    width: 100%;
}
